<html>
  <head>
    <title>Habit Records</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <a href="/habit">Habit List</a>
      <a href="/logout">Logout</a>
    </nav>
    <div class="container">
      <h1>
        Habit Record: <span class="highlight"><%= habit.habit_name %></span>
      </h1>
      <figure>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Habit Notes</th>
              <th>Uploaded Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% records.forEach(item => { %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.memo %></td>
              <td><%= item.createdAt %></td>
              <td><a href="/remove/<%= item.id %>">Delete</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <p></p>

        <a class="button" href="/habit/<%=id%>/add_note">Add Note</a>
      </figure>
    </div>
  </body>
</html>
