<html>
  <head>
    <title>Habit List</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav>
      <a href="/logout">Logout</a>
    </nav>

    <div class="container">
      <h1>My Habit List</h1>

      <figure>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Habit Name</th>
              <th>Duration</th>
              <th>Record Count</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach(item => { %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <a href="/habit_list/<%= item.id %>"><%= item.habit_name %></a>
              </td>
              <td>2<%= item.start_date %> ~ <%= item.end_date %></td>
              <td><%= item.count %></td>
              <td><a href="/remove/<%= item.id %>">Delete</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <p></p>
        <a class="button" href="habit/add">Add Habit</a>
      </figure>
    </div>
  </body>
</html>
